[requires]
python_version = "3.6"

[packages]
django-health-check = "~=3.8"
django = "~=2.1"
django-environ = "~=0.4"
gunicorn = "~=19.9"
gevent = "~=1.3"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
bumpversion = "*"
flake8 = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
isort = "*"
