[flake8]
exclude =
	.git,
	build,
	dist,
	docs,
	tests,
    .venv,
	venv,
	migrations,
	manage.py

ignore =
	D100, # Missing docstring in public module
	D101, # Missing docstring in public class
	D102, # Missing docstring in public method
	D103, # Missing docstring in public function
	D104, # Missing docstring in public package
	D105, # Missing docstring in magic method
	D107, # Missing docstring in __init__
	D400, # First line should end with a period
	D401, # First line should be in imperative mood
	W391, # blank line at end of file

output-file = reports/python.flake8

max-line-length = 120
